<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./app.component.css">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="/assets/logo.jpg" style="width:100%">
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>About</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>Skills</p>
  </a>
  <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>Career History</p>
  </a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">About</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">Skills</a>
    <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">Career</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main" style="    margin-top: '22px';
">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> Tushar Bhite.</h1>
    <p>Full Stack Developer, AEM Developer, Coder</p>
  </header>
  <div >
<img class="img-responsive hero-image" src="/assets/desk-dp.jpeg" alt="">

    </div>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-dark-grey">Tushar Bhite</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>Seeking a position in the organisation that will allow me to utilise and apply my skills. I am very much eager to contribute my creativity and hard work towards the success of the organisation and to the growth of the fast developing field. I love learning new technologies, So i would be extremely grateful if i get an opportunity to learn about their. If you have any offer please feel free to contact.
    </p>
    <h3 class="w3-padding-16 w3-text-dark-grey">My Skills</h3>
    <p class="w3-wide">Full Stack Development</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:100%;width:100%">

<ul>
  <li>Angular</li>
  <li>Typescript</li>
  <li>Springboot</li>
  <li>REST API</li>

</ul>  

      </div>
    </div>
    <p class="w3-wide">AEM Sites Development</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:100%;width:100%">
        <ul>
          <li>AEM 6.5</li>
          <li>Sightly (HTL)</li>
          <li>Java</li>
          <li>Jquery</li>        
        </ul>        </div>
    </div>
   <br>
    
    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">20+</span><br>
        Personal Projects
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">100+</span><br>
        DSA Questions Solved
      </div>
      
    </div>

    <button class="w3-button w3-light-grey w3-padding-large w3-section">
      <i class="fa fa-download"></i> Download Resume
    </button>
    
    
  <!-- End About Section -->
  </div>
  
  <!-- Portfolio Section -->
  <div class="w3-padding-64 w3-content" id="photos">
    <h2 class="w3-text-dark-gray">My Experience</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-white">
      <div class="w3-dark-grey" style="height:100%;width:100%">
        <h3>Infosys</h3>
        <ul>
          <li>System Engineer </li>
          <li>1.1 Years</li>
          <li>AEM Developer (HTL)</li>
          <li>Pune, Maharashtra, India</li>
        </ul>        
      </div>
    </div>

    <div class="w3-white">
      <div class="w3-dark-grey" style="height:100%;width:100%">
        <h3>Infosys</h3>
        <ul>
          <li>System Engineer Trainee</li>
          <li>0.4 Years</li>
          <li>Springboot-Angular Developer</li>
          <li>Pune, Maharashtra, India</li>
        </ul>        
      </div>
    </div>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:100%;width:100%">
        <h3>Internshala</h3>
        <ul>
          <li>Front End Developer</li>
          <li>0.3 Years</li>
          <li>HTML, CSS, Javascript, Bootstrap</li>
          <li>Pune, Maharashtra, India</li>
        </ul>        
      </div>
    </div>


    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
    
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-dark-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> 
        <a href="tel:7776050128">Call: 777-6050-128</a>
      </p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> 
        <a href = "mailto:tushbhite@gmail.com?subject = Feedback&body = Message">
          Email: tushbhite@gmail.com
          </a>
          
        </p>
        <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> 
          <a href="https://wa.me/7776050128" target="_blank">Whatsapp</a>
        </p>

        <p><i class="fa fa-instagram fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>     
           

          <a  href="https://www.instagram.com/b.tushar.99/" target="_blank"></a>
        </p>
    </div><br>
    <p>Let's get in touch. Send me a message:</p>




    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>
  
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>
