<div class="row">
 
  <div class="col">
    <div class="w3-content">

    <div class="w3-dark-gray tabs ">
      <div class=" tab">
        <input w3-black  type="radio" id="rd1" name="rd">
        <label class="tab-label" for="rd1">AEM Projects</label>
        <div class="w3-dark-grey tab-content">
            <ul>
                <li>Training Project
                  <ul>
                    <li>ProteinParadise (Online Protein Store for Gym Freaks and Health concious)
                        <ul>
                            <li>AEM Website Implementation from scratch</li>
                            <li>10+ components </li>
                          </ul>
                    </li>
                    
                  </ul>
                </li>
                <li>Production Project
                    <ul>
                    <li>The Hershey Company (www.hersheyland.com    and   www.chocolateworld.com) 
                        <ul>
                            <li>4+ Component Development from scratch</li>
                            <li>Implementation of Sling Servlets and OSGI Services</li>
                          </ul>
                    </li>
                </ul>

                </li>
            </ul>
       </div>
      </div>
      <div class="tab">
        <input type="radio" id="rd2" name="rd">
        <label class="tab-label" for="rd2">Personal Projects </label>
        <div class="w3-dark-grey tab-content">
            <ul>
                <li> Family Location Tracker
                    <ul>
                        <li>Android app to get real time  location of family members and friends</li>
                    </ul>
                 </li>
                <li> Diamond Price Predictor
                    <ul>
                        <li>Data mining project , predicting price of a diamond form various constraints like shape, size, colour and weight etc</li>
                    </ul>
                  
                </li>
            </ul>        
        </div>
      </div>

      <div class="tab">
        <input type="radio" id="rd3" name="rd">
        <label class="tab-label" for="rd3">Academic Projects</label>
        <div class="w3-dark-grey tab-content">
            <li>  RFID based Smart Passport 
                <ul>
                    <li>RFID tag mounted smart card used as E passport </li>
                    <li>It is more secure, faster to access and verify than existing passport system.</li>
                    <li>Used AES encryption to secure the passport accessing process.</li>
                </ul>
              
            </li>        
        </div>
      </div>
     


    </div>
  </div>
</div>
</div>