<button type="button" class="btn btn-outline-primary text-dark btn-block" data-bs-toggle="modal" data-bs-target="#myModal">Action Movies</button>
<button type="button" class="btn btn-outline-primary text-dark btn-block" data-bs-toggle="modal" data-bs-target="#myModal">Thriller Movies</button>
<button type="button" class="btn btn-outline-primary text-dark btn-block" data-bs-toggle="modal" data-bs-target="#myModal">Comedy Movies</button>
<button type="button" class="btn btn-outline-primary text-dark btn-block" data-bs-toggle="modal" data-bs-target="#myModal">Fiction Movies</button>
<button type="button" class="btn btn-outline-primary text-dark btn-block" data-bs-toggle="modal" data-bs-target="#myModal">Animation Movies</button>
<button type="button" class="btn btn-outline-primary text-dark btn-block" data-bs-toggle="modal" data-bs-target="#myModal">Horror Movies</button>